<div class="page-header text-center">
    <h3>{{menuName}}</h3>
</div>
<div class="panel">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-default" (click)="selectMenu(0)">Menu 1</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-default" (click)="selectMenu(1)">Menu 2</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-default" (click)="selectMenu(2)">Menu 3</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-default" (click)="selectMenu(3)">Menu 4</button>
            </div>
        </div>
    </div>
    <br />
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="padding-left-20">Item</th>
                <th>Price</th>
                <th>Selected</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td class="col-sm-4 padding-left-20">
                    <input [(ngModel)]="item.name" [disabled]='item.name' />
                </td>
                <td class="col-sm-4">
                    <input [(ngModel)]="item.price" [disabled]='item.price' />
                </td>
                <td class="col-sm-3">
                    <input type="checkbox" [(ngModel)]="item.selected" (ngModelChange)="checkOrder()" />
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <div class="form-group text-center col-sm-4 col-sm-offset-4">
        <label for="labelForName">Enter your name</label>
        <input [(ngModel)]="userName" required class="form-control" id="labelForName" placeholder="User name">
    </div>
    <br />
    <section class="example-container text-center col-sm-4 col-sm-offset-4">
        <div class="example-wrapper">
            <label class="example-input-wrapper" for="labelForTime">
                Set time
            </label>
            <input placeholder="Time" [(ngModel)]="dateTime" class="form-control" id="labelForTime"
                   [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" required>
            <owl-date-time [pickerMode]="'dialog'" #dt3></owl-date-time>
        </div>
    </section>
    <br />
    <div class="form-group text-center col-sm-4 col-sm-offset-4">
        <button class="btn btn-primary" (click)="order()" [disabled]="!dateTime || !userName || orderFood == 0">Place Order</button>
    </div>
</div>
<br />
<div class="form-group user-order col-sm-12" [hidden]="!showOrder">
    <h3>{{userName}} <h4>ordered:</h4></h3>
    <h5 *ngFor="let order of newOrder">
        {{order.name}} : {{order.price}}
    </h5>
    <h4>Total: {{sum | number: '1.2-2'}}</h4>
    <h4>Pick up time: {{dateTime | date: 'MM/dd/yyyy hh:mm:ss a'}}</h4>
</div>
